* {
	box-sizing: border-box;
	text-align: center;
}

body {
	background-color: #777;
	width: 960px;
	font-family: "arial", "helvetica neue", helvetica, sans-serif;
	font-size: 18px;
	margin: 0 auto;
}
header {
	background-color: #ebebeb;
	color: #777;
	margin: 10px 0px 0px 0px;
	padding: 30px 0px;
} 
nav {
	background-color: #ebebeb;
	color: #777;
	margin: 10px 0px;
	padding: 30px 0px;
}

section{
	background-color: #ebebeb;
	color: #777;
	margin: 10px 10px 20px 0px;
	padding: 30px 0px;
	border-style: solid;
	border-color: #ebebeb;
	border: 10px;
	width: 495px;
	height: 260px;
	float: left;


}

article {
	background-color: #777;
	color: #ebebeb;
	width: 95%;
	height: 93%;
	padding: 15px;
	margin: 10px auto auto auto;
}

h3 {
	background-color: #ebebeb;
	color: #777;
	height: 45px;
	padding-top: 10px;
}

p {
	background-color: #ebebeb;
	color: #777;
	height: 45px;
	padding-top: 10px;
}

aside{
	background-color: #ebebeb;
	color: #777;
	margin: 10px 0px 20px 10px;
	padding: 30px 0px;
	width: 445px;
	height: 260px;
	float: left;
}


footer {
	clear: both;
	background-color: #ebebeb;
	color: #777;
	/*margin: 10px 0px;*/
	padding: 30px 0px;

}

